<section class="form-header">
  <h1>Editar Hoja de envio</h1>
  <div class="btn-enter">
  <button class="fbx-button" mat-flat-button color="accent" (click)="goback()">Retroceder</button>
  </div>
  <div class="btn-enter">
    <button class="fbx-button" mat-flat-button color="accent" (click)="openDialog()">Añadir</button>
  </div>
</section>
<section class="container-login">
  <div class="content-center">
    <form [formGroup]="hojaEnvioForm" (ngSubmit)="onSubmitHoja(hojaEnvioForm)">
      <div class="input-group registro">
        <mat-form-field class="fbx-input">
          <input matInput formControlName="numRegForm" placeholder="N° Registro" [type]="'text'" required>
        </mat-form-field>
      </div>
      <div class="input-group proceso">
        <mat-form-field class="fbx-input">
          <input matInput formControlName="procesoForm" placeholder="Proceso" [type]="'text'" required>
        </mat-form-field>
      </div>
      <div class="input-group fecha">
        <mat-form-field class="fbx-input">
          <input matInput formControlName="fechaForm" placeholder="Fecha Remision" name="dateBorn" [matDatepicker]="picker" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker color="#163164"></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="input-group hoja">
        <mat-form-field class="fbx-input">
          <input matInput formControlName="numHojaForm" placeholder="N° Hoja Envio" [type]="'text'" required>
        </mat-form-field>
      </div>
      <div class="input-group doc">
        <mat-form-field class="fbx-input">
          <input matInput formControlName="docRemForm" placeholder="Doc a remitir" [type]="'text'" required>
        </mat-form-field>
      </div>
      <!-- <div class="input-group contratista">
        <mat-form-field class="fbx-input">
          <input matInput formControlName="tipDocForm" placeholder="Tipo de documento" [type]="'text'" required>
        </mat-form-field>
      </div> -->
      <div class="input-group tipo-doc">
        <mat-form-field class="fbx-select" [hideRequiredMarker]="true" [floatLabel]="'auto'">
          <mat-select formControlName="tipDocForm" placeholder="Tipo Documento">
            <mat-option [value]="'1'">CARGO</mat-option>
            <mat-option [value]="'2'">RESPUESTA</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="btn-enter">
        <button class="fbx-button" mat-flat-button color="accent" type="submit">Actualizar</button>
      </div>
    </form>
  </div>
</section>