<section class="container">
  <div class="pdf-body" [formGroup]="modelOneForm">
    <header>
      <div class="header-one">
        <img src="assets/img/logo-banco-nacion.png" alt="Logo de BN">
        <p>Gerencia de Logistica   MODAL 2</p>
      </div>
      <hr>
      <p class="sub-header">“Decenio de la Igualdad de Oportunidades para Mujeres y Hombres.”
        “Año de la Lucha contra la Corrupción e Impunidad.”
      </p>
    </header>
    <section class="section-one">
      <div class="cuadro-num">
        <p>N° - 2021-BN/2604</p>
      </div>
      <h1>HOJA DE ENVIO</h1>
      <p>Fecha : <input matInput  formControlName="fechaForm" ></p>
    </section>
    <section class="section-two">
      <div class="section-two-1">
        <div class="two-1-1">
          <p>A :</p>
        </div>
        <div class="two-1-2">
          <div class="persona">
            <mat-form-field class="example-full-width ">
              <mat-label>Persona Consultar</mat-label>
              <input matInput  formControlName="personaConsForm">
            </mat-form-field>
          </div>
          <div class="cargo">
            <mat-form-field class="example-full-width ">
              <mat-label>Cargo</mat-label>
              <input matInput formControlName="cargoForm">
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="section-two-2">
        <div class="two-1-1">
          <p>De :</p>
        </div>
        <div class="two-1-2">
          <div class="persona">
            <mat-form-field class="example-full-width ">
              <mat-label>Persona Consultar</mat-label>
              <input matInput  formControlName="personaConsForm2">
            </mat-form-field>
          </div>
          <div class="cargo">
            <mat-form-field class="example-full-width ">
              <mat-label>Cargo</mat-label>
              <input matInput formControlName="cargoForm2">
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="section-two-3">
        <div class="two-1-1">
          <p>Referencia :</p>
        </div>
        <div class="two-1-2">
          <div class="referencia">
            <mat-form-field class="example-full-width ">
              <mat-label>Carta</mat-label>
              <input matInput formControlName="referenciaForm">
            </mat-form-field>
          </div>
        </div>
      </div>
    </section>
    <section class="section-three">
      <p>Se remite para :</p>
      <div class="table-container">
        <table>

          <tr>
            <td>
              <!-- X -->
              <mat-checkbox class="example-margin" color="primary" formControlName="check1">  </mat-checkbox>
            </td>
            <td class="td-noborder-left">
              TRAMITE
            </td>
            <td>
              <mat-checkbox class="example-margin" color="primary" formControlName="check2">  </mat-checkbox>
            </td>
            <td class="td-noborder-right">
              OPINION
            </td>
          </tr>
          <tr>
            <td>
              <mat-checkbox class="example-margin" color="primary" formControlName="check3">  </mat-checkbox>
            </td>
            <td class="td-noborder-left">
              ESTUDIO E INFORME
            </td>
            <td>
              <mat-checkbox class="example-margin" color="primary" formControlName="check4">  </mat-checkbox>
            </td>
            <td class="td-noborder-right">
              ANALISIS
            </td>
          </tr>
          <tr>
            <td>
              <mat-checkbox class="example-margin" color="primary" formControlName="check5">  </mat-checkbox>
            </td>
            <td class="td-noborder-left">
              RESOLUCION
            </td>
            <td>
              <mat-checkbox class="example-margin" color="primary" formControlName="check6">  </mat-checkbox>
            </td>
            <td class="td-noborder-right">
              SEGUIR INSTRUCCIONES
            </td>
          </tr>
          <tr>
            <td>
              <mat-checkbox class="example-margin" color="primary" formControlName="check7">  </mat-checkbox>
            </td>
            <td class="td-noborder-left">
              RESPUESTA
            </td>
            <td>
              <mat-checkbox class="example-margin" color="primary" formControlName="check8">  </mat-checkbox>
            </td>
            <td class="td-noborder-right">
              APROBACION
            </td>
          </tr>
        </table>
      </div>
    </section>
    <section class="section-four">
      <p>Observaciones : </p>
      <mat-form-field class="example-full-width ">
        <mat-label>Observaciones</mat-label>
        <textarea matInput formControlName="observacionForm"></textarea>
      </mat-form-field>
      <p>Atentamente,</p>
    </section>

  </div>
  <div class="pdf-button">
    <button mat-mini-fab aria-label="Example icon-button with a heart icon" (click)="goback()">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <button mat-mini-fab aria-label="Example icon-button with a heart icon" (click)="generate()">
      <mat-icon>picture_as_pdf</mat-icon>
    </button>
  </div>

</section>

<app-loadingfull [active]="activeloadingfull"></app-loadingfull>
