<section class="container">
  <div class="pdf-body" [formGroup]="modelOneForm">
    <header>
      <div class="header-one">
        <img src="assets/img/logo-banco-nacion.png" alt="Logo de BN">
        <p>Gerencia de Logistica   MODAL 2</p>
      </div>
      <hr>
      <p class="sub-header">“Decenio de la Igualdad de Oportunidades para Mujeres y Hombres.”
        “Año de la Lucha contra la Corrupción e Impunidad.”
      </p>
    </header>
    <section class="section-one">
      <div class="cuadro-num">
        <p>N° - 2020-BN/2604</p>
      </div>
      <h1>HOJA DE ENVIO</h1>
      <p>Fecha : miercoles, 19 de febrero de 2020</p>
    </section>
    <section class="section-two">
      <div class="section-two-1">
        <div class="two-1-1">
          <p>A :</p>
        </div>
        <div class="two-1-2">
          <h1>ALCIDES MALDONADO CORTEZ</h1>
          <h1>JEFE DE SEC.  EJECUCIÓN Y SEGUIMIENTO DE CONTRATOS</h1>
        </div>
      </div>
      <div class="section-two-2">
        <div class="two-1-1">
          <p>De :</p>
        </div>
        <div class="two-1-2">
          <h1>MARCO ANTONIO LEÓN ARANGUREN</h1>
          <h1>JEFE DE SEC. PROGRAMACIÓN Y EVALUACIÓN</h1>
        </div>
      </div>
      <div class="section-two-3">
        <div class="two-1-1">
          <p>Referencia :</p>
        </div>
        <div class="two-1-2">
          <h1>CARTA S/N DE FECHA 147/02/2020 - EULEN DEL PERU DE SERVICIOS COMPLEMENTARIOS S.A.</h1>
        </div>
      </div>
    </section>
    <section class="section-three">
      <p>Se remite para :</p>
      <div class="table-container">
        <table>
          <!-- <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr> -->
          <tr>
            <td>
              X
            </td>
            <td class="td-noborder-left">
              TRAMITE
            </td>
            <td>
              X
            </td>
            <td class="td-noborder-right">
              OPINION
            </td>
          </tr>
          <tr>
            <td>
              X
            </td>
            <td class="td-noborder-left">
              ESTUDIO E INFORME
            </td>
            <td>
              X
            </td>
            <td class="td-noborder-right">
              ANALISIS
            </td>
          </tr>
          <tr>
            <td>
              X
            </td>
            <td class="td-noborder-left">
              RESOLUCION
            </td>
            <td>
              X
            </td>
            <td class="td-noborder-right">
              SEGUIR INSTRUCCIONES
            </td>
          </tr>
          <tr>
            <td>
              X
            </td>
            <td class="td-noborder-left">
              RESPUESTA
            </td>
            <td>
              X
            </td>
            <td class="td-noborder-right">
              APROBACION
            </td>
          </tr>
        </table>
      </div>
    </section>
    <section class="section-four">
      <p>Observaciones : </p>
      <p>Remito a su despacho original de la referencia, en respuesta de la carta N° , para su archivo en el expediente y seguimiento de  fiscalización posterior realizada al proceso Concurso Público N° 30-2019.
        Atentamente,
      </p>
    </section>
    <!-- <section class="section-five">
      
    </section> -->
  
    <!-- <footer>
      <p>Javier Prado Este No. 2499 -- 519 2000 Anexo 95714
      </p>
      <p>E-mail: mramirezu@bn.com.pe</p>
      <p> mleon@bn.com.pe</p>
      <p>rbiasca@bn.com.pe</p>
    </footer> -->
  </div>
  <div class="pdf-button">
    <button mat-mini-fab aria-label="Example icon-button with a heart icon" (click)="goback()">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <button mat-mini-fab aria-label="Example icon-button with a heart icon" (click)="generate()">
      <mat-icon>picture_as_pdf</mat-icon>
    </button>
  </div>

</section>


