<section class="container">
  <div class="pdf-body" [formGroup]="modelOneForm">
    <header>
      <div class="header-one">
        <img src="assets/img/logo-banco-nacion.png" alt="Logo de BN">
        <p>Gerencia de Logistica</p>
      </div>
      <hr>
      <p class="sub-header">“Decenio de la Igualdad de Oportunidades para Mujeres y Hombres.”
        “Año de la Lucha contra la Corrupción e Impunidad.”
      </p>
    </header>
    <section class="section-one">
      <p>San Borja, 09 de octubre del 2019</p>
      <p>Carta Nº 1 - 2019 - BN / 2604</p>
      <p>Señor(a):</p>
      <div class="persona">
        <mat-form-field class="example-full-width ">
          <mat-label>Persona Consultar</mat-label>
          <input matInput  formControlName="personaConsForm">
        </mat-form-field>
      </div>
      <div class="cargo">
        <mat-form-field class="example-full-width ">
          <mat-label>Cargo</mat-label>
          <input matInput formControlName="cargoForm">
        </mat-form-field>
      </div>
      <!-- <p>ELAR FREDDY CUEVA SALAZAR </p> -->
      <!-- <p>Subdirector de Registros Administrativos y de Formacion Profesional y Capacitacion Laboral
        <br> MINISTERIO DE TRABAJO Y PROMOCION DEL EMPLEO
      </p> -->
      <div class="empresa">
        <mat-form-field class="example-full-width">
          <mat-label>Empresa consultar</mat-label>
          <input matInput formControlName="empresaForm">
        </mat-form-field>
      </div>
      <div class="direccion">
        <mat-form-field class="example-full-width">
          <mat-label>Direccion</mat-label>
          <input matInput formControlName="direccionForm">
        </mat-form-field>
      </div>
      <!-- <p> Av. Salaverry N° 655 Jesus Maria</p> -->
    </section>
    <section class="section-two">
      <p>Presente.-</p>
      <p>Asunto: Fiscalización Posterior</p>
      <p>Referencia: Adjudicación Simplificada N° 34 - 2019 - BN</p>
      <p>De mi consideración: </p>
      <p>Me dirijo a usted, para manifestarle que nuestra Entidad en aplicación del principio y potestad de controles
        posteriores, procede a realizar la fiscalización posterior de:
      </p>
      <div class="table-container">
        <table>
          <tr>
            <th>Documento(s)</th>
            <th>Descripcion</th>
          </tr>
          <tr>
            <td>
              <div class="tipo-doc">
                <mat-form-field class="example-full-width">
                  <mat-label>Tipo Doc</mat-label>
                  <input matInput formControlName="tipoForm">
                </mat-form-field>
              </div>
              <!-- ACREDITACION -->
            </td>
            <td>
              <div class="desc-doc">
                <mat-form-field class="example-full-width">
                  <mat-label>Desc Docucmento</mat-label>
                  <input matInput formControlName="docForm">
                </mat-form-field>
              </div>
              <!-- ACREDITACION  REMYPE  -->
            </td>
          </tr>

        </table>
      </div>
    </section>
    <section class="section-three">
      <p>Al respecto, la empresa DICOMTECH S.A.C. ha presentado copia de dichos documentos en el
        procedimiento de selección Adjudicación Simplificada <span>
          <!-- N° 34 -2019 -BN “ADQUISICION DE SOFTWARE BASADO EN PLATAFORMA
          WEB PARA AUDITORIA DE DIRECTORIO
          ACTIVO Ms EXCHANGE Y SERVIDORES WINDOWS” 1 .  -->
          <div  class="desc-proceso">
            <mat-form-field class="example-full-width">
              <mat-label>Descripcion Proceso</mat-label>
              <textarea matInput formControlName="descriptionForm"></textarea>
            </mat-form-field>
          </div>
          

        </span> </p>
    </section>
    <section class="section-four">
      <p>En tal sentido, de conformidad con lo dispuesto en el artículo 33° de la Ley N° 27444 de Procedimiento
        Administrativo General y, en concordancia con el numeral 64.6 del artículo 64° del Reglamento de la Ley de
        Contrataciones del Estado, normas aplicables al presente caso; se realiza la acción de fiscalización posterior,
        agradeciéndole nos indique expresamente la veracidad de la(s) ACREDITACION presentada(s) por el contratista en
        mención. Para lo cual se adjuntan las respectivas copias.
      </p>
    </section>
    <section class="section-five">
      <p>Por lo expuesto, apreciaré su pronunciamiento dentro del plazo de cinco (5) días hábiles de recibida la presente
        comunicación.
      </p>
      <p>Atentamente,</p>
    </section>
  
    <footer>
      <p>Javier Prado Este No. 2499 -- 519 2000 Anexo 95714
      </p>
      <p>E-mail: mramirezu@bn.com.pe</p>
      <p> mleon@bn.com.pe</p>
      <p>rbiasca@bn.com.pe</p>
    </footer>
  </div>
  <div class="pdf-button">
    <button mat-mini-fab aria-label="Example icon-button with a heart icon" (click)="goback()">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <button mat-mini-fab aria-label="Example icon-button with a heart icon" (click)="generate()">
      <mat-icon>picture_as_pdf</mat-icon>
    </button>
  </div>

</section>

