<section class="container">
  <div class="pdf-body" [formGroup]="modelOneForm">
    <header>
      <div class="header-one">
        <img src="assets/img/logo-banco-nacion.png" alt="Logo de BN">
        <p>Gerencia de Logistica</p>
      </div>
      <hr>
      <p class="sub-header">“Decenio de la Igualdad de Oportunidades para Mujeres y Hombres.”
        “Año de la Lucha contra la Corrupción e Impunidad.”
      </p>
    </header>
    <section class="section-one">
      <p>San Borja, <input matInput  formControlName="fechaActualForm"></p>
      <p>Carta N° 
        <input matInput  formControlName="cartaForm" style="width: 35px;">
        - 2020 - BN/2604
      </p>
      <p>Señor(a):</p>
      <div class="persona">
        <mat-form-field class="example-full-width ">
          <mat-label>Persona Consultar</mat-label>
          <input matInput  formControlName="personaConsForm">
        </mat-form-field>
      </div>
      <div class="cargo">
        <mat-form-field class="example-full-width ">
          <mat-label>Cargo</mat-label>
          <input matInput formControlName="cargoForm">
        </mat-form-field>
      </div>
      <div class="empresa">
        <mat-form-field class="example-full-width">
          <mat-label>Empresa consultar</mat-label>
          <input matInput formControlName="empresaForm">
        </mat-form-field>
      </div>
      <div class="direccion">
        <mat-form-field class="example-full-width">
          <mat-label>Direccion</mat-label>
          <input matInput formControlName="direccionForm">
        </mat-form-field>
      </div>
    </section>
    <section class="section-two">
      <p>Presente.-</p>
      <p>Asunto: Fiscalización Posterior</p>
      <p>Referencia: {{modelOneForm.controls['procesoForm'].value}}</p>
      <p>De mi consideración: </p>
      <p>Me dirijo a usted, para manifestarle que nuestra Entidad en aplicación del principio y potestad de controles
        posteriores, procede a realizar la fiscalización posterior de:
      </p>
      <div class="table-container">
        <table>
          <tr>
            <th>Documento(s)</th>
            <th>Descripcion</th>
          </tr>
          <tr>
            <td>
              <div class="tipo-doc">
                <mat-form-field class="example-full-width">
                  <mat-label>Tipo Doc</mat-label>
                  <input matInput formControlName="tipoForm">
                </mat-form-field>
              </div>
            </td>
            <td>
              <div class="desc-doc">
                <mat-form-field class="example-full-width">
                  <mat-label>Desc Docucmento</mat-label>
                  <input matInput formControlName="docForm">
                </mat-form-field>
              </div>
            </td>
          </tr>

        </table>
      </div>
    </section>
    <section class="section-optional-one">
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Parrafo opcional" formControlName="optionalOneForm"></textarea>
      </mat-form-field>
    </section>
    <section class="section-three">
      <textarea matInput formControlName="pronomForm"></textarea>
      <mat-form-field class="example-full-width">
        <mat-label>Descripcion Proceso</mat-label>
        <textarea matInput formControlName="descProcForm"></textarea>
      </mat-form-field>
      <!-- <p>Al respecto, la empresa {{ nombreEmpresa }} ha presentado copia <input class="pronomForm" matInput formControlName="pronomForm"> señalado en el cuadro precedente en el
        procedimiento de selección 
        <span>
          <div  class="desc-proceso">
            <mat-form-field class="example-full-width">
              <mat-label>Descripcion Proceso</mat-label>
              <textarea matInput formControlName="descProcForm"></textarea>
            </mat-form-field>
          </div>
        </span> 
      </p> -->
    </section>
    <section class="section-four">
      <textarea matInput formControlName="descProcTwoForm"></textarea>
    </section>
    <section class="section-five">
      <textarea matInput formControlName="descProcThreeForm"></textarea>
      <p>Atentamente,</p>
    </section>
  
    <footer>
      <p>Javier Prado Este No. 2499 -- 519 2000 Anexo 95714
      </p>
      <p>E-mail: mramirezu@bn.com.pe</p>
      <p> mleon@bn.com.pe</p>
      <p>rbiasca@bn.com.pe</p>
    </footer>
  </div>
  <div class="pdf-button">
    <button mat-mini-fab aria-label="Example icon-button with a heart icon" (click)="goback()">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <button mat-mini-fab aria-label="Example icon-button with a heart icon" (click)="generate()">
      <mat-icon>picture_as_pdf</mat-icon>
    </button>
  </div>

</section>

<app-loadingfull [active]="activeloadingfull"></app-loadingfull>