<div class="btn-custom">
  <button mat-flat-button color="accent" class="fbx-button animation" routerLink="/main/proceso">Regresar</button>
</div>
<section class="container-login">
  <div class="content-center">
      <form [formGroup]="registerPersonForm" (ngSubmit)="onSubmitPerson(registerPersonForm)" style="max-width:100%; width: 100%;">
          <div class="input-group contratista">
              <mat-form-field class="fbx-input">
                  <input matInput placeholder="Contratista" [type]="'text'" formControlName="contratistaForm"
                      required>
              </mat-form-field>
          </div>
          <div class="input-group select-pdocForm">
              <mat-form-field class="fbx-select" [hideRequiredMarker]="true" [floatLabel]="'auto'">
                  <mat-select placeholder="Tipo Contratista" formControlName="tipoContratistaForm">
                      <mat-option [value]="'1'">PERSONA</mat-option>
                      <mat-option [value]="'2'">EMPRESA</mat-option>
                      <mat-option [value]="'3'">CONSORCIO</mat-option>
                      <mat-option [value]="'4'">COLEGIO</mat-option>
                      <mat-option [value]="'5'">MINISTERIO</mat-option>
                      <mat-option [value]="'6'">NOTARIOS</mat-option>
                      <mat-option [value]="'7'">OTROS</mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
          <div class="input-group tipo-procedimiento">
              <mat-form-field class="fbx-select" [hideRequiredMarker]="true" [floatLabel]="'auto'">
                  <mat-select placeholder="Tipo Procedimiento" formControlName="tipoProcedimientoForm">
                      <mat-option [value]="procedure._id" *ngFor="let procedure of procedureList">{{procedure.name}}</mat-option>
                  </mat-select>
              </mat-form-field>
          </div>

          <div class="input-group num-procedimiento">
              <mat-form-field class="fbx-input">
                  <input matInput placeholder="N° Procedimiento" [type]="'number'"
                      formControlName="numProcedimientoForm" required>
              </mat-form-field>
          </div>

          <div class="input-group año-proceso">
              <mat-form-field class="fbx-input">
                  <input matInput placeholder="Año de Proceso" [type]="'text'" formControlName="añoProcesoForm"
                      required>
              </mat-form-field>
          </div>

          <div class="input-group">
              <mat-form-field class="fbx-input">
                  <input matInput placeholder="Descripcion Proceso" [type]="'text'" formControlName="descripcionForm"
                      required>
              </mat-form-field>
          </div>

          <div class="input-group recepcion">
              <mat-form-field class="fbx-input">
                  <input matInput placeholder="Fecha Recepción" name="dateBorn" [matDatepicker]="picker"
                      formControlName="fechaRecepcionForm" required>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker color="#163164"></mat-datepicker>
              </mat-form-field>
          </div>

          <div class="input-group items-fiscalizados">
              <mat-form-field class="fbx-input">
                  <input matInput placeholder="Items Fiscalizados" [type]="'text'" formControlName="itemsForm"
                      required>
              </mat-form-field>
          </div>

          <div class="btn-enter">
              <button class="fbx-button" mat-flat-button color="accent" type="submit">Actualizar</button>
          </div>
      </form>
  </div>

</section>