@import '_default-theme.scss';


mat-drawer-container {
    height: 100%;
}

mat-drawer,
mat-drawer-content {
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(.25, .8, .25, 1);
}

mat-drawer {
    width: 250px;
    background-color: #f7fafc;
    transition-property: width;
    &.sidenav-collapsed {
        width: 100px;
    }
    .sidenav-header {
        background-color: #9f7aea;
        height: 64px;
        display: grid;
        justify-content: center;
        align-items: center;
        span {
            font-size: 2em;
            color: #ffffff;
        }
    }
    & .sidenav-line {
        border-color: #e2e8f091;
        margin: 10px 10px 10px 0px;
    }
    & .navegation{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    & .option-list {
        transition: all 0.15s ease-out;
        text-transform: uppercase;
        font-size: .875rem;
        color: #718096;
        padding-left: 2rem;
        padding: .75rem;
        margin-right: .75rem;
        font-weight: 500;
        cursor: pointer;
        border-top-right-radius: 9999px;
        border-bottom-right-radius: 9999px;
        background-color: #e2e8f0;
        display: flex;
        img {
            margin-right: 0.5rem;
        }
        &:hover {
            color: #FFF;
            background-color: #2d3748;
            img {
                filter: invert(1);
            }
        }
    }
    ul {
        padding: 0;
        padding: 0;
        li {
            a {
                font-size: .75rem;
                color: #2d3748;
                padding-left: 2rem;
                padding-right: 0;
                padding: .75rem;
                margin-right: 2.3rem;
                margin-top: .5rem;
                display: block;
                border-top-right-radius: 9999px;
                border-bottom-right-radius: 9999px;
                transition: .2s;
                &:hover, &.active {
                    color: #FFF;
                    background-color: #9f7aea;
                }
                img {
                    margin-right: .5rem;
                    margin-top: .25rem;
                    float: left;
                    max-width: 100%;
                    height: auto;
                    display: block;
                    // vertical-align: middle;
                }
                span {
                    margin-right: .25rem;
                    font-weight: 700;
                }
            }
        }
        
    }
}

mat-drawer-content {
    transition-property: transform, margin-left, margin-right;
    &.sidenav-collapsed {
        margin-left: 100px !important;
    }
}

mat-card {
    margin: 10px;
}

@media (max-width: 600px) {
    mat-toolbar {
        flex-direction: row-reverse !important;
    }
}