<mat-drawer-container>
    <mat-drawer #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="!mobileQuery.matches"
        [ngClass]="{'sidenav-collapsed': collapsedNav && !mobileQuery.matches}">
        <div class="sidenav-header">
            <span>{{collapsedNav && !mobileQuery.matches ? 'I' : 'IntApp'}}</span>
        </div>
        <div class="navegation" *ngFor="let menu of menus;let i = index">
            <div class="option-list" (click)="showSubItem(i)">
                <img [src]="visibleIndex === i ? 'https://saasadventure.io/img/svgs/arrow-down.svg' : 'https://saasadventure.io/img/svgs/arrow-right.svg'" alt="down arrow"> 
                {{collapsedNav && !mobileQuery.matches ? menu.titlesm : menu.title }}
            </div>
            <ul *ngIf="visibleIndex === i" [@inOutAnimation]>
                <li *ngFor="let children of menu.children">
                    <a [routerLink]="children.router" routerLinkActive="active" class="text-xs">
                        <img src="https://saasadventure.io/img/svgs/dot.svg" alt="lock" class="float-left mt-1 mr-2 invert-me">
                        <span class="font-bold mr-1">{{collapsedNav && !mobileQuery.matches ? children.namesm : children.name}}</span> 
                    </a>
                </li>
            </ul>
        </div>
        <hr class="sidenav-line">
        <div>
            <ul>
                <li>
                    <a (click)="logout()" routerLinkActive="active" class="text-xs" style="cursor: pointer;">
                        <img src="https://saasadventure.io/img/svgs/dot.svg" alt="lock" class="float-left mt-1 mr-2 invert-me">
                        <span class="font-bold mr-1">SALIR</span> 
                    </a>
                </li>
            </ul> 
        </div>
    </mat-drawer>
    <mat-drawer-content [ngClass]="{'sidenav-collapsed': collapsedNav && !mobileQuery.matches}">
        <mat-toolbar>
            <button mat-icon-button (click)="mobileQuery.matches ? snav.toggle() : collapsedNav = !collapsedNav">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>