.fondo-loadingfull{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1100;
  pointer-events: none;
  opacity: 0.48;
  background: rgba(0, 0, 0, 0.6);
}
.content-loadingfull{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1110;
  pointer-events: none;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}