<h1>Guia de Remision</h1>
<section class="table-material">

  <div class="btn-enter">
    <button mat-flat-button color="accent" class="fbx-button animation" routerLink="nueva-guia">Agregar Nuevo</button>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Name Column -->
    <ng-container matColumnDef="proceso">
      <th mat-header-cell *matHeaderCellDef> Proceso </th>
      <td mat-cell *matCellDef="let element"> {{element.process}} </td>
    </ng-container>

    <ng-container matColumnDef="num-carta">
      <th mat-header-cell *matHeaderCellDef> N° de carta </th>
      <td mat-cell *matCellDef="let element"> {{element.numCarta  }} </td>
    </ng-container>

    <ng-container matColumnDef="empresa">
      <th mat-header-cell *matHeaderCellDef> Empresa a consultar </th>
      <td mat-cell *matCellDef="let element"> {{element.toConsult}} </td>
    </ng-container>

    <ng-container matColumnDef="documento">
      <th mat-header-cell *matHeaderCellDef> Descripcion de documento </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="persona">
      <th mat-header-cell *matHeaderCellDef> Persona a consultar </th>
      <td mat-cell *matCellDef="let element"> {{element.person}} </td>
    </ng-container>

    <ng-container matColumnDef="cargo">
      <th mat-header-cell *matHeaderCellDef> Cargo </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <ng-container matColumnDef="direccion">
      <th mat-header-cell *matHeaderCellDef> Direccion </th>
      <td mat-cell *matCellDef="let element"> {{element.adress}} </td>
    </ng-container>

    <ng-container matColumnDef="generar">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button aria-label="Example icon-button with a heart icon" (click)="generate(element)">
          <mat-icon>picture_as_pdf</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon aria-hidden="false" aria-label="close icon" [routerLink]="['/main/guia-remision/edit']"
          [queryParams]='{id: element._id }'>create</mat-icon>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon aria-hidden="false" aria-label="close icon" (click)="delete(element._id)">delete</mat-icon>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</section>