@import '_default-theme.scss';
.table-material{
    width: 80%;
    margin: 30px auto;
    .filter{
        display: block;
    }
    .btn-enter{
        margin: 25px 0px;
        text-align: right;
    }
    table{
        width: 100%;
        & p.ajuste-puntos{
            width: 300px;
            @include ajustacontrespuntos;
        }
    }
}

mat-paginator{
    margin-top: 1rem;
}