
<section class="table-material">

  <div class="btn-enter">
    <button mat-flat-button color="accent" class="fbx-button animation" routerLink="nueva-guia">Agregar Nuevo</button>
  </div>

  <mat-form-field class="fbx-input filter">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar" name="email" [type]="'text'"
      required>
  </mat-form-field>


  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 fbx-table">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Codigo. </th>
      <td mat-cell *matCellDef="let element"> {{element.cod_seg}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="proceso">
      <th mat-header-cell *matHeaderCellDef> Proceso </th>
      <td mat-cell *matCellDef="let element">
        <p>{{ element.process }}</p>
      </td>
    </ng-container>

    <ng-container matColumnDef="num-carta">
      <th mat-header-cell *matHeaderCellDef> N° de carta </th>
      <td mat-cell *matCellDef="let element">
        <p>{{ element.numCarta }}</p>
      </td>
    </ng-container>

    <ng-container matColumnDef="empresa">
      <th mat-header-cell *matHeaderCellDef> Empresa a consultar </th>
      <td mat-cell *matCellDef="let element">
        <p>{{element.toConsult}}</p>
      </td>
    </ng-container>

    <ng-container matColumnDef="documento">
      <th mat-header-cell *matHeaderCellDef> Descripcion de documento </th>
      <td mat-cell *matCellDef="let element">
        <p>{{element.description}} </p>
      </td>
    </ng-container>

    <ng-container matColumnDef="persona">
      <th mat-header-cell *matHeaderCellDef> Persona a consultar </th>
      <td mat-cell *matCellDef="let element">
        <p>{{element.person}}</p>
      </td>
    </ng-container>

    <ng-container matColumnDef="generar">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button aria-label="Example icon-button with a heart icon" (click)="generate(element)">
          <mat-icon>picture_as_pdf</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon aria-hidden="false" aria-label="close icon" [routerLink]="['/main/guia-remision/edit']"
          [queryParams]='{id: element._id }'>create</mat-icon>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>
        <button mat-icon-button aria-label="Example" (click)="getGuiaReport()">
          <mat-icon>verified</mat-icon>
        </button>
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon aria-hidden="false" aria-label="close icon" (click)="delete(element._id)">delete</mat-icon>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>



  <mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions"
    (page)="onChangedPage($event)"></mat-paginator>

</section>