@import "_default-theme.scss";

.container-person {
    display: flex;
    width: 100%;
    height: calc(100vh - 90px);
    justify-content: center;
    @include respondto(minxs) {
    }
    @include respondto(maxxs) {
    }
    @include respondto(sm) {
    }
    @include respondto(md) {
    }
    @include respondto(lg) {
    }
    .data-person-content {
        width: 100%;
        max-width: 1000px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 60px;
        @include respondto(minxs) {
        }
        @include respondto(maxxs) {
        }
        @include respondto(sm) {
        }
        @include respondto(md) {
        }
        @include respondto(lg) {
        }
        .content-top {
            padding: 25px 0px;
            display: flex;
            justify-content: space-between;
            .mat-icon-rtl-mirror {
                color: #21cdfc;
                position: relative;
                top: 5px;
                @include respondto(xs) {
                    margin-right: 15px;
                }
                @include respondto(minxs) {
                    margin-right: 15px;
                }
                @include respondto(md) {
                    margin-right: 27px;
                }
                @include respondto(lg) {
                    margin-right: 27px;
                }
            }
            span {
                color: #122955;
                font-weight: bold;
                letter-spacing: 1.37px;

                @include respondto(xs) {
                    text-align: center;
                }
                @include respondto(minxs) {
                }
            }
            h3 {
                margin-top: 0;
                margin-bottom: 0;
                padding-top: 7px;
                padding-bottom: 7.5px;
                text-align: center;
                font: 16px/18px Roboto;
                font-weight: 400;
                letter-spacing: 1.22px;
                color: $fbx-primary;
                @include respondto(xs) {
                    font-size: 12px;
                }
                @include respondto(minxs) {
                    font-size: 12px;
                }
            }
        }
        .content-center {
            background: $fbx-background-white;
            padding: 25px 45px;
            box-shadow: 0px 10px 24px #1f193329;
            // max-width: 426px;
            margin: auto;
            @include respondto(minxs) {
            }
            @include respondto(maxxs) {
            }
            @include respondto(sm) {
            }
            @include respondto(md) {
            }
            @include respondto(lg) {
            }
            form {
                display: flex;
                flex-wrap: wrap;
                margin: 30px auto 0px auto;
                .input-group {
                    width: 100%;
                    &.num-carta-form {
                        width: calc((100% - 10px) / 3);
                        margin-right: 5px;
                    }
                    &.empresa-form {
                        width: calc((100% - 10px) / 3);
                        margin-right: 5px;
                    }
                    &.desc-form {
                        width: calc((100% - 10px) / 3);
                    }
                    &.persona-form {
                        width: calc((100% - 10px) / 3);
                        margin-right: 5px;
                    }
                    &.cargo-form {
                        width: calc((100% - 10px) / 3);
                        margin-right: 5px;
                    }
                    &.direccion-form {
                        width: calc((100% - 10px) / 3);
                    }
                }
            }
            .fbx-select {
                width: 100%;
            }
            .fbx-input {
                width: 100%;
            }
            .btn-enter {
                width: 100%;
                text-align: center;
            }
        }
        .content-aux {
            @include respondto(minxs) {
                padding-bottom: 100px;
            }
            @include respondto(maxxs) {
                padding-bottom: 100px;
            }
            @include respondto(sm) {
            }
            @include respondto(md) {
            }
            @include respondto(lg) {
            }
        }
    }
}

