@import '_default-theme.scss';
.table-material{
    width: 70%;
    margin: 30px auto;
    .btn-enter{
        margin: 25px 0px;
        float: right;
        button{
            background-color: #d32f2f;
            font-size: 15px;
            &:focus{
            }
        }
    }
    table{
        width: 100%;
    }
}