@import "_default-theme.scss";
.container-text{
    text-align: center;
    margin: 20px;
}
.container-report {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 3%;
    .card-body {
        width: calc(50% - 30px);
        min-height: 50px;
        padding: 25px;
        box-shadow: 0px 10px 24px #1f193329;
        background: #ffffff;
        margin: 10px auto;
        transition: .3s;
        &:hover {
            box-shadow: 0px 10px 24px #1f193369;
            cursor: pointer;
        }
    }
}
