<section class="container-person">
    <div class="data-person-content">
        <div class="content-top">
            <h1>
                <a (click)="goback()">
                    <mat-icon class="mat-icon-rtl-mirror" svgIcon="icon-fbx-arrow"></mat-icon>
                </a>
                <span class="text-1">Lista de archivos</span>
            </h1>
        </div>

        <div class="content-center">

            <div class="container-image-new">
                <div class="body-image-new">
                    <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)"
                        [uploader]="uploader" (click)="onImageClicked()" class="card-image-new">
                        <div class="my-drop-zone-new">
                            <div class="content-icono">
                                <img [src]="existImage?'assets/img/nube_hover.svg':'assets/img/nube_sin_hover.svg'"
                                    alt="documento">
                            </div>
                            <div class="content-text">
                                <span *ngIf="!existImage" class="text-detail">Subir Archivo</span>
                                <span *ngIf="existImage" class="text-image">{{ imagen.nombre }}</span>
                            </div>

                        </div>
                    </div>
                    <div class="card-check">
                        <img *ngIf="!existImage" src="" alt="">
                        <img *ngIf="existImage" src="assets/img/check.svg" alt="">
                    </div>
                    <input type="file" #fbxFileInput ng2FileSelect [uploader]="uploader" class="fbx-input-file" />
                </div>
                <div class="content-loading">
                    <div *ngIf="uploader?.queue?.length == 1" class="loading-image">
                        <div class="loading-empty">
                            <div class="loading-progress" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-img" *ngIf="images.length > 0 else nocloud">
                <div class="img-card-body" *ngFor="let image of images">
                    <div class="drop-zone-image" (click)="verImagen(image.url)">
                        <div class="content-icono">

                        </div>
                        <div class="content-text">
                            <p>{{image.name}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <ng-template #nocloud>
                <img class="no-results" src="assets/img/not_found.jpg" alt="">
            </ng-template>

        </div>
    </div>
</section>

<app-loadingfull [active]="activeloadingfull"></app-loadingfull>