// -----NUEVO-----
@import '_default-theme.scss';
@import 'font.scss';


// Input de IntApp
$color-gris-border: #EEEEEE;
$color-gris-input: #A7A9AC;
$label-float: 12px;
$label-normal: 16px;
$padding-label-input: 12px 10px 0px 13px;
$padding-placeholder-input: 14px 10px 2px 13px;
$height-input: 56px;
$border-radius: 0px;

//Ocultando el asterisco
.mat-placeholder-required{
    display: none !important;
}

input{
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    &[type=number] {
        -moz-appearance:textfield;
    }
}


.fbx-input {
    height: 84px;
    margin-bottom: -11px;
    .print-number-dollar{
        z-index:1;
    }
    &.mat-form-field-appearance-legacy {
        .mat-form-field-underline {
            height: $height-input !important;
            background-color: transparent;
            border-radius:$border-radius;
            border: 1px solid $color-gris-border;
        }
        &.mat-form-field-invalid {
            &:not(.mat-focused) {
                .mat-form-field-ripple {
                    height: $height-input !important;
                    background-color: transparent !important;
                    border-radius:$border-radius;
                    border: 1px solid $fbx-warm;
                }
                .mat-form-field-underline {
                    transition: all .3s cubic-bezier(.55,0,.55,.2);
                    border: 1px solid transparent;
                }
                .mat-form-field-label {
                    color: $fbx-warm;
                }
            }
        }
        .mat-form-field-ripple {
            height: $height-input !important;
            background-color: transparent !important;
            border-radius:$border-radius;
            border: 1px solid $fbx-warm;
            margin: -1px 0px 0 -1px;
            width: calc(100% + 2px);
        }
        .mat-form-field-subscript-wrapper {
            margin-top: 0.3em;
        }
        &.mat-form-field-can-float {
            &.mat-form-field-should-float {
                &.mat-form-field-invalid {
                    &:not(.mat-focused) {
                        .mat-form-field-label {
                            color: $fbx-warm;
                        }
                    }
                    .mat-form-field-label {
                        color: $fbx-warm;
                    }
                }
                &:not(.mat-focused) {
                    .mat-form-field-label {
                        color: $color-gris-input;
                    }
                }
                .mat-form-field-label {
                    padding: 3.5px 0 0 13px;
                    transform: translateY(-1.25em) scale(1) perspective(100px) translateZ(0.001px) !important;
                    z-index: 2;
                    color: $fbx-accent;
                    span {
                        font-family: $font-DMSans;
                        font-weight: 400;
                        font-size: $label-float;
                        line-height: 27px;
                        padding: 0 0 0 0;
                        color: $color-gris-input;
                        position: relative;
                        // @include respondto(minxs) {font-size: 12px;}
                        // @include respondto(maxxs) {font-size: 12px;}
                        &:before{
                            content: '';
                            position: absolute;
                            top: 9px;
                            height: 5px;
                            width: 100%;
                            background: white;
                            left: 0;
                            z-index: -1;
                        }
                        &.mat-placeholder-required {
                            padding: 0 3px 0 0;
                        }
                    }
                }
            }
        }
        .mat-form-field-label {
            //INPUT SIN RELLENAR BODY
            padding: 5px 0px 0px 10px;
            top : 0.5em;
            transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), padding 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
            span {
                font-family: $font-DMSans;
                font-weight: 400;
                font-size: $label-normal;
                color:$fbx-primary;
                background-color: rgba(255, 255, 255, 0);
                transition: background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),font-size 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
            }
        }
        .mat-hint{
            color: $fbx-primary;
        }
    }
    &.mat-form-field {
        &.mat-focused {
            .mat-form-field-ripple {
                background-color: transparent;
                border: 1px solid $fbx-primary;
            }
            .mat-form-field-label{
                span{
                    color: $fbx-gristwo !important;
                }
            }
            .mat-form-field-underline {
                transition: all .3s cubic-bezier(.55,0,.55,.2);
                border: 1px solid transparent;
            }
        }
        &.mat-form-field-invalid {
            .mat-form-field-label{
                span{
                    color: $fbx-warm !important;
                }
            }
            .mat-form-field-ripple {
                background-color: transparent;
                border: 1px solid $fbx-warm;
            }
        }
    }

    .mat-form-field-wrapper{
        padding-bottom: 20.5px;
        .mat-form-field-flex{
            .mat-form-field-infix{
                padding: 3px 0 0.848437em 0;

                .mat-input-element{
                    padding:  $padding-label-input;
                    font-family: $font-Roboto;
                }

                .mat-form-field-label-wrapper{
                    top : 0em;
                    .mat-form-field-label{
                        color: $color-gris-input;
                    }
                }

                .content-icon-pass{
                    position: absolute;
                    top: 15px;
                    right: 20px;
                    height: 16px;
                    width: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .icon-pass{
                        max-width: 100%;
                        cursor: pointer;
                        color: $fbx-primary;
                        width: 18px;
                        &.visibility{
                            color: $color-gris-border;
                            width: 18px;
                        }
                    }
                }
            }

            .mat-form-field-suffix{
                top: 2px;
                right: 20px;
                .mat-icon{
                    top: 0px;
                    height: 15px;
                    cursor: pointer;
                    color: $fbx-primary;
                    &.visibility{
                        color: $color-gris-border;
                    }
                }
            }
        }
        .mat-form-field-underline{}
        .mat-form-field-subscript-wrapper{
            margin-top: 0.2em;
        }
    }

    mat-error {
        font-family: $font-DMSans;
        font-weight: 400;
        @include fontsizeheight(10.5px, 1.1, 10.5px, 1.1, 10.5px, 1.1);
        color: $fbx-warm;
        padding-left: 10px;
    }

    mat-hint {
        font-family: $font-DMSans;
        font-weight: 400;
        @include fontsizeheight(10.5px, 1.1, 10.5px, 1.1, 10.5px, 1.1);
        color: $fbx-primary;
        padding-left: 10px;
    }
}

// Button de Firbex
.fbx-button{
    &.mat-accent{
        color: $fbx-btn-text;
        background-color: $fbx-secondary;
        height: 40px;
        box-shadow: 0px 9px 10px rgba(39, 44, 60, 0.24);
        &:hover,
        &:active{
            transition: background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
            background-color: $fbx-secondary-dark;
        }
        .mat-flat-button{
            color: $fbx-btn-text;

        }
    }
    &.mat-flat-button{
        border-radius: 2px;
        font-family: "DM Sans", sans-serif;
    }
    &.mat-flat-button[disabled][disabled]{
        background-color: $fbx-btn-disable;
        color: $fbx-background-white;
    }
}

// Spinner de Firbex
.fbx-spinner{
    &.mat-flat-button[disabled][disabled]{
        background-color: $fbx-secondary;
        color: $fbx-background-white;
    }
    span {
      opacity: 0;
    }
}

// Tabs de Firbex
.fbx-mat-tab{
    &.mat-tab-group{
        .mat-tab-header{
            border-bottom: 0;
            .mat-tab-label-container{
                .mat-tab-list{   
                    .mat-tab-labels{
                        .mat-tab-label{
                            opacity: 1;
                            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
                            &.mat-tab-label-active{        
                                .mat-tab-label-content{
                                    color: $fbx-primary;
                                    font-weight: 600;
                                }
                            }
                            .mat-tab-label-content{
                                font-family: $font-DMSans;
                                font-weight: 400;
                                font-size: 14px;
                                color: $fbx-input-text;
                            }
                        }
                    }
                    .mat-ink-bar{
                        background-color: $fbx-primary;
                    }
                }
            }
        }
    }
}

// Select de Firbex
.fbx-select{
    margin-bottom: -11px;
    height: 84px;
    .flag-icon-pe{
        border-radius:50%;
        width: 0.9em;
        margin-left: 11px;
    }
    .mat-icon-arrow{
        width: 0.5em !important;
        right: 14px;         
        position: relative;        
        top: 7px;
    }
    &.mat-form-field-type-mat-select{

        .mat-select-arrow-wrapper{
            opacity: 0;
        }
        &.fbx-not-arrow{
            .mat-form-field-wrapper{
                .mat-form-field-flex{
                    .mat-form-field-infix{
                        padding: 7.5px 0;
                        .mat-select{
                            .mat-select-trigger{
                                height: 1.50em;
                                .mat-select-value-text{
                                    display: flex;
                                    justify-content: left;
                                    padding: 10px 0px 0 0 !important;
                                }
                                .mat-select-arrow-wrapper{
                                    .mat-select-arrow{
                                        opacity: 0;
                                        margin: 0 0 0 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &.mat-form-field-can-float {
            .mat-form-field-label-wrapper{
                .mat-form-field-label-wrapper{
                    .mat-form-field-label{
                        top: 0.9em;
                    }
                }
            }
            &.mat-form-field-should-float {
                &.mat-form-field-invalid {
                    &:not(.mat-focused) {
                        .mat-form-field-label {
                            color: $fbx-warm !important;
                        }
                    }
                    .mat-form-field-label {
                        color: $fbx-warm !important;
                    }
                }
                &:not(.mat-focused) {
                    .mat-form-field-label {
                        
                        color: $fbx-warm;
                        // top: 1.6em !important;
                        span{}
                    }
                }
                .mat-form-field-label {
                    // SELECT CON DATA SIN SELECCIONAR
                    padding-left: 10px;
                    transform: translateY(-1.25em) scale(1) perspective(100px) translateZ(0.001px);
                    z-index: 2;
                    color: $fbx-accent;
                    span {
                        font-family: $font-DMSans;
                        font-weight: 400;
                        font-size: $label-float !important;
                        background-color: transparent !important;
                        color: $color-gris-input !important;
                        padding: 0;
                        position: relative;
                        &:before{
                            content: '';
                            position: absolute;
                            top: 5px;
                            height: 7px;
                            width: 100%;
                            background: white;
                            left: 0;
                            z-index: -1;
                        }
                        &.mat-placeholder-required {
                            padding: 0 3px 0 0;
                        }
                    }
                }
            }
        }
        &.mat-form-field {
            &.mat-focused {
                .mat-form-field-underline {
                    height: $height-input !important;
                    transition: all .3s cubic-bezier(.55,0,.55,.2);
                    border: 1px solid transparent;
                    .mat-form-field-ripple {
                        background-color: transparent;
                        border: 1px solid $fbx-primary !important;
                    }
                }
                .mat-select-arrow-wrapper{
                    .mat-select-arrow{
                        color: $fbx-primary;
                    }
                }

                .mat-form-field-label{
                    // SELECT CON DATA SELECCIONADO CABEZERA
                    padding-left: 10px;
                    // top: 1.6em;
                    transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), padding 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
                    span {
                        font-family: $font-DMSans;
                        font-weight: 400;
                        font-size: $label-normal;
                        color:$fbx-primary !important;
                        background-color: rgba(255, 255, 255, 0);
                        transition: background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),font-size 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
                    }
                }
            }
            &.mat-form-field-invalid {
                .mat-form-field-ripple {
                    background-color: transparent;
                    border: 1px solid $fbx-warm;
                }
                .mat-select-arrow-wrapper{
                    .mat-select-arrow{
                        color: $fbx-primary;
                    }
                }
                &:not(.mat-focused) {
                    .mat-form-field-ripple {
                        background-color: transparent;
                        border-radius:$border-radius;
                        border: 1px solid $fbx-warm;
                    }
                    .mat-form-field-underline {
                        transition: all .3s cubic-bezier(.55,0,.55,.2);
                        border: 1px solid transparent;
                    }
                    .mat-form-field-label {
                        padding-left: 15px;
                        color: $fbx-warm;
                    }
                    .mat-select-arrow{
                        color: $fbx-primary;
                    }
                }
            }
        }
        .mat-form-field-wrapper{
            // padding-bottom: 18.7px;
            .mat-form-field-flex{
                .mat-form-field-infix{
                    // padding: 0.810937em 0 0.848437em 0;
                    .mat-select{
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;
                        justify-content: flex-end;
                        height: 31px;
                        .mat-select-trigger{
                            //SELECT SELECCIONADO SUBIR CUERPO MAS ARRIBA
                            margin-bottom: 6px;
                            .mat-select-value{
                                .mat-select-placeholder{}
                                .mat-select-value-text{
                                    // SELECT SELECCIONADO CON DATA CUERPO
                                    padding-left: 10px;
                                    >span{
                                        font-family: $font-DMSans;
                                        font-weight: 400;
                                        color: $fbx-primary;
                                        font-size: 16px;
                                    }
                                    mat-select-trigger{
                                        flag-icon{
                                            .flag-icon{}
                                        }
                                        .content-img{
                                            display: inline-block;
                                            position: relative;
                                            height: 10px;
                                            width: 22px;
                                            img{
                                                max-width: 20px;
                                                max-height: 25px;
                                                position: absolute;
                                                bottom: -3px;
                                            }
                                        }
                                        >span{
                                            font-family: $font-DMSans;
                                            font-weight: 400;
                                            font-size: 14px;
                                            padding-left: 5px;
                                        }
                                    }
                                }
                            }
                            .mat-select-arrow-wrapper{
                                .mat-select-arrow{
                                    margin: 0 30px 0 0;
                                }
                            }
                        }
                    }
                    .mat-form-field-label-wrapper{
                        
                        .mat-form-field-label{ 
                            // SELECT SIN DATA SIN SELECCIONAR
                            padding-left: 10px;
                            padding-top: 6px;
                            transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), padding 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
                            span {
                                font-family: $font-DMSans;
                                font-weight: 400;
                                font-size: $label-normal;
                                color : $fbx-primary-dark;
                                background-color: rgba(255, 255, 255, 0);
                                transition: background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),font-size 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
                            }
                        }
                    }
                }
            }
            .mat-form-field-underline{
                height: $height-input !important;
                background-color: transparent;
                border-radius:$border-radius;
                border: 1px solid $color-gris-border;
                .mat-form-field-ripple{
                    height: $height-input !important;
                    background-color: transparent !important;
                    border-radius:$border-radius;
                    border: 1px solid $fbx-warm;
                    margin: -1px 0px 0 -1px;
                    width: calc(100% + 2px);
                }
            }
            .mat-form-field-subscript-wrapper{
                margin-top: 0.2em;
                .ng-trigger{
                    .mat-error{
                        font-family: $font-DMSans;
                        font-weight: 400;
                        @include fontsizeheight(10.5px, 1.1, 10.5px, 1.1, 10.5px, 1.1);
                        color: $fbx-warm;
                        padding-left: 15px;
                        strong{}
                    }
                }
            }
        }
    }

    &.fbx-overflow-visible{
        // background-color: red;
        .mat-form-field-wrapper{
            .mat-form-field-flex{
                .mat-form-field-infix{
                    .mat-select{
                        .mat-select-trigger{
                            .mat-select-value{
                                overflow: visible;
                                .mat-select-value-text{
                                    .content-img{
                                        display: inline-block;
                                        position: relative;
                                        height: 10px;
                                        width: 20px;
                                        img{
                                            max-width: 20px;
                                            max-height: 20px;
                                            position: absolute;
                                            bottom: -2px;
                                        }
                                    }
                                    >span{
                                        font-family: $font-Roboto;
                                        font-weight: 400;
                                        font-size: 16px;
                                        padding-left: 0px;
                                        color: $fbx-primary;
                                        position:relative;
                                        top:1px;
                                        padding:0 !important;
                                    }
                                    
                                }
                            }
                            .mat-select-arrow-wrapper{
                                .mat-select-arrow{
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}



.fbx-mat-slide{
    &.mat-checked{
        .mat-slide-toggle-thumb{
            background-color: $fbx-secondary-dark;
        }
    }
}

.fbx-mat-radio{
    mat-radio-button{
      label{
         font-family: $font-Roboto;
      }  
    }
}

.mat-select-panel-wrap{
    .mat-option{
        &.mat-selected{
            .fbx-select-item{
                flag-icon{
                    .flag-icon{}
                }
                >span{}
            }
            .fbx-select-bank-item{
                .content-img{
                    img{}
                }
                >span{
                    color: $fbx-title-text;
                }
            }
        }
        .mat-option-text{
            font-family: $font-Roboto;
        }
        .fbx-select-item{
            flag-icon{
                .flag-icon{}
            }
            >span{
                padding: 0 0 0 5px;
            }
        }
        .fbx-select-bank-item{
            display: flex;
            align-items: center;
            .content-img{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 32px;
                height: 32px;
                img{
                    max-width: 100%;
                    max-height: 100%;
                }
            }
            >span{
                font-family: $font-Roboto;
                font-weight: 400;
                font-size: 16px;
                color: $fbx-primary;
                padding: 0 0 0 10px;
                // text-transform: capitalize;
            }
        }
    }
}

// Check de Firbex
 .fbx-checkbox{
    &.mat-checkbox{

        .mat-checkbox-layout{
            white-space: normal !important;
            text-align: justify;
            .mat-checkbox-label{
                line-height: 16px;
                span{
                    font-family: $font-DMSans;
                    font-weight: 400;
                    font-size: 12px;
                    color: $fbx-subtitle-text;
                }
                a{
                    font-family: $font-DMSans;
                    font-weight: 400;
                    font-size: 12px;
                    color: $fbx-accent;
                }
            }
        }
         &.mat-checkbox-checked{
             .mat-checkbox-layout{
                white-space: normal !important;
                text-align: justify;
                .mat-checkbox-inner-container{
                    .mat-checkbox-frame{
                        border-color: $fbx-primary;
                    }
                }
            }
        }
    }
}



//Data picker desplegable
.mat-datepicker-content{
    box-shadow:1px 0px 14px 0px rgba(0, 0, 0, 0.11);
    .mat-calendar{
        border: 0px solid transparent;
    }
}
.mat-calendar-body-cell-content.mat-calendar-body-selected{
    color: white;
}

.mat-calendar-body-selected{
    background-color: $fbx-secondary;
}
.mat-calendar-body-today.mat-calendar-body-selected{
    box-shadow:none;
}
.mat-calendar-body-cell-content{
    color: $fbx-primary;
}


//Select desplegable

.mat-select-panel{
    padding: 10px !important;
}
.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple){
    background-color: $fbx-primary;
    color:white;
}

// Flecha del select
.mat-select-arrow{
    color: $fbx-primary;
}


// Btn-radius

.mat-checkbox-frame{
    border-width: 1px !important;
}

//Modal Firbix
.cdk-overlay-dark-backdrop{
    // background: rgb(31, 25, 51, 0.69) 0% 0% no-repeat padding-box;
    background: $fbx-background-modal;
}
.mat-dialog-container{
    &.mat-dialog-container{
        .cdk-global-overlay{
            position: fixed;
            z-index: 1000;
            background-color: rgb(22, 49, 100,0.69);
        }
        padding: unset;
        border-radius:$border-radius;
    }
}
